<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <!--#Redirect to https & www-->
                <rule name="www" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTP_HOST}" pattern="^www\..*$" negate="true" />
                        <add input="{HTTP_HOST}" pattern="^(.*)$" />
                    </conditions>
                    <action type="Redirect" url="https://www.{C:1}/{R:1}" />
                </rule>
                <rule name="https" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTPS}" pattern="off" ignoreCase="true" />
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" />
                </rule>
                <!--# BEGIN WebP rewrite for browsers that announce they support it -->
                <rule name="webp">
                    <match url="(.+)\.(jpe?g|png)$" ignoreCase="true" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="true">
                        <add input="{HTTP_ACCEPT}" pattern="image/webp" ignoreCase="false" />
                        <add input="{DOCUMENT_ROOT}/{R:1}.webp" matchType="IsFile" />
                    </conditions>
                    <action type="Rewrite" url="{R:1}.webp" logRewrittenUrl="true" />
                    <serverVariables>
                        <set name="ACCEPTS_WEBP" value="true" />
                    </serverVariables>
                </rule>

                <!-- Redirect Rules for WP-style permalinks-->
                <rule name="html" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions logicalGrouping="MatchAny">
                        <add input="{URL}" pattern="^/(.*)/index\.html" />
                    </conditions>
                    <action type="Redirect" url="/{C:1}/" />
                </rule>
                <!--<rule name="html2" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions logicalGrouping="MatchAny">
                        <add input="{URL}" pattern="^/(.*)(?!index).html" />
                    </conditions>
                    <action type="Redirect" url="/{C:1}/" />
                </rule>-->

            </rules>
            <outboundRules>
                <!--# BEGIN WebP rewrite for browsers that announce they support it -->
                <rule name="Set Vary header" preCondition="IsWebp">
                    <match serverVariable="RESPONSE_Vary" pattern=".*" />
                    <action type="Rewrite" value="Accept" />
                </rule>
                <preConditions>
                    <preCondition name="IsWebp">
                        <add input="{ACCEPTS_WEBP}" pattern="true" ignoreCase="false" />
                    </preCondition>
                </preConditions>
            </outboundRules>
        </rewrite>
        <staticContent>
            <mimeMap fileExtension=".webp" mimeType="image/webp" />
        </staticContent>
    </system.webServer>
</configuration>
