{% set PageTitle = "Static Nunjucks Starter Template" %}
{% set PageDescription = "Static Nunjucks Starter Template" %}
{% set CanonicalPage = "" %}

{% extends "MainTemplate.njk" %}

{% block MainContent %}
    <section class="wrap">
      <div class="container-fluid">
        <div class="row justify-content-center">
          <div class="col-12">
            <h1 class="login-blurb mb-3 mb-md-5 font-weight-light text-center">Static NunJucks Starter Template</h1>
          </div>
        </div>
      </div>
    </section>

{% endblock %}
