{% set PageTitle = "My Account Login Page" %}
{% set PageDescription = "Univeristy Platform Dashboard" %}
{% set CanonicalPage = "" %}

{% extends "MainTemplate.njk" %}

{% block MainContent %}
    <section id="login-wrap" class="wrap">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-12">
                    <h1 class="login-blurb mb-3 mb-md-5 font-weight-light text-center">Static NunJucks Starter Template</h1>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
