/* ----------------------------------------------------------------------------
    Checkout Style
----------------------------------------------------------------------------- */
.section-title {
    margin-left: -5px;
    margin-right: -5px;
    margin-bottom: 1em;
    padding: 0 5px 8px 5px;
    border-bottom: 1px dotted #ccc;
    font-weight: 300;
}
.order-summary-box {
    overflow: hidden;
    .card-header {
        cursor: pointer;
    }
    .list-group-item {
        font-size: 0.95em;
        border-top: 1px dotted rgba(0,0,0,.125);
    }
    .item-name {
        float: left;
        width: 75%;
    }
    .item-amount {
        float: right;
        text-align: right;
        width: 25%;
    }
    .total {
        font-weight: bold;
        .item-name {
            text-align: right;
        }
    }
    .subtotal {
        .item-name {
            text-align: right;
        }
    }
}
.form-group {
    margin-bottom: 0.5rem;
}
.col-form-label {
    padding-bottom: .25rem;
}
.reqd {
    color: red;
    font-size: 85%;
}

/* ----------------------------------------------------------------------------
    Page Media Queries
----------------------------------------------------------------------------- */
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    .container-checkout {
        padding-top: 10px;
    }
    .form-group {
        margin-bottom: 1rem;
    }
    .col-form-label {
        padding-bottom: calc(.375rem + 1px);
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    .container-checkout {
        padding-top: 20px;
    }
    .order-summary-box {
        .card-header {
            cursor: default;
            .item-amount {
                display: none;
            }
        }
    }

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

}
