/* ----------------------------------------------------------------------------
    Cousrse player page style
----------------------------------------------------------------------------- */
.fullscreen-active {
    background-color: #fff;
}
.exit-fullscreen {
    display: none;
}
.fullscreen-active .exit-fullscreen {
    display: inline-block;
}
.fullscreen-active .go-fullscreen {
    display: none;
}
.dashboard-content {
    width: 100%;
    padding-top: 0 !important;
    padding-bottom: 0 !important;

    #botom-upsell-wrap {
        margin-top: 20px;
        padding-top: 25px;
    }
}
.table-content-box.card {
    overflow: hidden;
    border-bottom: 1px dotted #ccc;
    background-color: #fff;

    .card-header {
        background-color: #99A0A6;
        border-radius: 0;
    }

}
.dashboard-content .course-status {
    padding-bottom: 8px;
    border-bottom: 1px dotted #ccc;

    .material-icons {
        vertical-align: middle;
    }
    .time-remaning-display {
        vertical-align: middle;
    }
}
.course-content {
    padding-top: 15px;
}
.course-controls-wrap {
    margin-top: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-top: 1px dotted #ccc;

    a {
        color: inherit;
    }
    .material-icons {
        display: inline-block;
        font-size: 48px;
        vertical-align: middle;
        color: #777;
    }
    a:hover .material-icons {
        color: #444;
    }
}
.embed-responsive {
    margin-bottom: 20px;
}
.exam-status {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px dotted #ccc;
}
.questions {
    padding-bottom: 15px;
    margin-bottom: 20px;
    border-bottom: 1px dotted #ccc;
    overflow: hidden;

    .choices {
        margin-top: 15px;
        padding-left: 10px;
        padding-right: 10px;
        flex-wrap: wrap;
        overflow: hidden;
        .btn {
            margin: 10px;
            min-width: 200px;
            box-shadow: none;
        }
        .custom-radio {
            padding-top: 5px;
            padding-bottom: 5px;
        }
    }
}
.submit-exam {
    min-width: 100px;
}
.scores {
    font-weight: 600;
    font-size: 1.5rem;
}
.result p {
    margin-bottom: .5rem;
}
/* ------ upsells ------ */
.upsell-block {
    margin-bottom: 15px;
    .upsell-img {
        margin-bottom: 20px;
        img {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: auto;
            max-width: 100%;
        }
    }
    .list-group-item {
        padding: 1.25rem;
    }
    .upsell-thumb {
        max-width: 60px;
        margin-right: 15px;
        border-radius: 3px;
    }

}

/* ------ security questions ------ */
.security-question-block.card {
    margin: auto;
    width: 100%;
    max-width: 900px;
    background-color: #fff;
    border-radius: 3px;
    border: 1px solid rgba(0,0,0,.125);
    box-shadow:  0 .125rem .25rem rgba(0,0,0,.075);

    .progress {
        margin: 0 0 20px 0;
        height: 10px;
        border-radius: 10px;
        .progress-bar {
            border-radius: 10px;
        }
    }
    .questions:last-child {
        margin-bottom: 0;
        padding-bottom: 0;
        border-bottom: 0;
    }
    .card-header {
        background-color: #EEEFF1;
    }
    .card-footer {
        padding: 1rem 1.25rem;
        background-color: transparent;
    }
}
/* ------ quiz block ------ */
.quiz-block.card {
    margin: auto;
    width: 100%;
    max-width: 900px;
    background-color: #fff;
    border-radius: 3px;
    border: 1px solid rgba(0,0,0,.125);
    box-shadow:  0 .125rem .25rem rgba(0,0,0,.075);

    .questions:last-child {
        margin-bottom: 0;
        padding-bottom: 0;
        border-bottom: 0;
    }
    .card-header {
        background-color: #EEEFF1;
    }
    .card-footer {
        padding: 1rem 1.25rem;
        background-color: transparent;
    }
    .quiz-content {
        margin-top: 20px;
    }
}
/* ------ course locked out ------ */
.course-locked.card {
    margin: auto;
    width: 100%;
    max-width: 900px;
    border-radius: 3px;
    border: 1px solid rgba(0,0,0,.125);
    .card-header {
        padding: .75rem 1.25rem;
        margin-bottom: 0;
        background-color: rgba(0,0,0,.03);
        border-bottom: 1px solid rgba(0,0,0,.125);
    }
}

/* ----------------------------------------------------------------------------
    Page Media Queries
----------------------------------------------------------------------------- */
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    .course-controls-wrap {
        padding-top: 15px;
    }
    .submit-exam {
        min-width: 200px;
    }

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    .upsell-block {
        .upsell-thumb {
            max-width: 120px;
        }
    }

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    .upsell-block {
        .upsell-thumb {
            max-width: 220px;
        }

    }

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

}
